body{ 
margin:0; 
font-family:Segoe UI, sans-serif; 
background:linear-gradient(120deg,#667eea,#764ba2); 
} 
header{ 
text-align:center; 
2 
padding:40px; 
color:white;
background:linear-gradient(90deg,#ff512f,#dd2476); 
} 
nav{ 
text-align:center; 
background:#111; 
padding:15px; 
} 
nav a{ 
color:white; 
margin:15px; 
text-decoration:none; 
font-weight:bold; 
transition:0.3s; 
} 
nav a:hover{ 
color:#00ffd5; 
} 
section{ 
margin:25px; 
padding:25px; 
border-radius:12px; 
background:white; 
box-shadow:0 4px 15px rgba(0,0,0,0.2); 
} 
h2{ 
color:#764ba2; 
} 
.card{ 
background:linear-gradient(135deg,#43cea2,#185a9d); 
color:white; 
padding:20px; 
margin:12px 0; 
border-radius:10px; 
transition:0.3s; 
}
3 
.card:hover{ 
transform:scale(1.03); 
} 
button{ 
padding:12px 18px; 
margin:8px; 
border:none; 
border-radius:6px; 
background:linear-gradient(45deg,#00c6ff,#0072ff); 
color:white; 
cursor:pointer; 
} 
button:hover{ 
background:linear-gradient(45deg,#ff512f,#dd2476); 
} 
input,textarea{ 
width:95%; 
padding:12px; 
margin:8px 0; 
border-radius:6px; 
border:1px solid #ccc; 
} 
footer{ 
text-align:center; 
padding:15px; 
color:white; 
background:linear-gradient(90deg,#141e30,#243b55); 
} 
